
/* is h2 ko bolte hai element selector */
h2{
    color: aqua;
}

/* external css : 1. element selector
                  2. class selector  
                  syntax: .(period operator)classname{property:val}*/

/* mostly external css use ki ja ti hai:
use/pros: 1. css and html code are in different files so its easy to understand the code.
          2. kisi bhi element ko hum class add kar sakte hai n number of times that means if we add some properties in one class so if we want to apply same property for other element also so easily we can apply those properties by adding just class name to the element
          3. Unnessesarily dont apply css to the other same element */
          
.container{
    color: cadetblue;
    
}

.container1{
    color: blueviolet;
    background-color: aquamarine;
}