.parent{
    background-image:url("spring.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
.anchorcss{
    text-decoration: none;
    font-size: 27px;
    padding: 5px 6px;
    /* padding: 25px 50px 75px 100px; */
    /* top right bottom left */
    float: left;
    color: red;
}

.navbar{
    background-color: chartreuse;
    overflow: hidden;
}


.drop_btn{
    font-size: 24px;
    color: red;
    position: relative;
    top: 6px;
    left: 10px;
    float: left;
    border: none;
}

.dropdown_content{
    position: absolute;
    background-color: burlywood;
    min-width: 138px;
    top: 49;
    display: none;
    left: 238px;
    z-index: +1;
}

.dropdown_content a{
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
  }

  .dropdown:hover .dropdown_content{
    display: block;
  }

  .dropdown_content a:hover{
    background-color: aquamarine;
  }

  .anchorcss:hover{
    color:blue;
    background-color: beige;
  }

  /* .navbar a:hover{
    color:darkblue;
    background-color: beige;
} */

.drop_btn:hover{
    background-color: blueviolet;
}

.imgcls{
    height: 590px;
    width: 1350px;
}

.formcls{
    border: 1px solid;
    height: 224px;
    width: 300px;
    position: relative;
    left: 64px;
    top: 22px;
    background-color: beige;
    text-align: center;
    background-image: url(smile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.formcls:hover{
    opacity: 0.7;
}

.submitbtn{
    background-color: aquamarine;
    padding: 4px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.imgcss{
    position: absolute;
    top: 146px;
    left: 413px;
    opacity: 1;
}

.imgcss:hover{
    opacity: 0.5;
}