.sta{
    border: 2px solid black;
    height: 40px;
    width: 96px;
    position: static;
}
.rel {
    position: relative;
    height: 31px;
    width: 100px;
    border: 2px solid black;
    left: 133px;
    bottom: 30px;
}

.abs {
    position: absolute;
    height: 24px;
    width: 120px;
    border: 2px solid;
    top: 88px;
    left: 307px;
}

.stick {
    position: sticky;
    border: 2px solid;
    height: 26px;
    width: 1350px;
    top: 0px;
    background-color: cyan;
    z-index: 1;
    /* z index: positive element comes in front and other content hides behind that , mahnje to sticy bar disnar aani scroll kel ki content tyachya mage hide honar */
/* jyacha z index positive to content varti disel aani jyacha negative tyacha bakicha content tyavar disel */
}
.footer {
    height: 26px;
    width: 1350px;
    border: 2px solid;
    background-color:chartreuse;
    bottom: 0px;
    position: fixed;
}

.sidebar {
    height: 981px;
    width: 200px;
    border: 2px solid;
    background-color:burlywood;
    position: relative;
    top: 2px;
}


.cls {
    position: absolute;
    top: 133px;
    left: 230px;
    padding: 5px 5px;
}
