   .container{
    border: 1px solid;
    border-collapse:collapse;
    margin: auto; 
    /* margin auto will not work with the absolute position */
    background-color: aqua;
  
}

.heading{
    text-align: center;
}
  



/* grouping of element selector table ke liye ye use ki jata hai */

table,tr,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
    background-color: beige;

}
