.Tut {
    border: 1px solid;
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: aqua;
    z-index: +1;
}
.Tut2 {
    position: relative;
    top: 25px;
}

.Tut3{
    float: right;
}

.Tut4 {
    height: 100;
    width: 100;
    border: 1px solid;
    position: absolute;
    top: 232px;
    box-shadow: 4px 4px 5px palevioletred;
}

.Tut5 {
    height: 100;
    width: 100;
    border: 1px solid;
    position: absolute;
    top: 232px;
    box-shadow: 4px 4px 5px palevioletred;
    left: 350;
}

.Tut6 {
    height: 100;
    width: 100;
    border: 1px solid;
    position: absolute;
    top: 232px;
    box-shadow: 4px 4px 5px palevioletred;
    right: 10;
}

.Tut7 {
    border: 1px solid;
    position: absolute;
    top: 371px;
    height: 700px;
    width: 200;
}
.Tut8 {
    position: absolute;
    top: 368px;
    border: 1px solid;
    height: 300;
    width: 300;
    left: 349px;
    overflow: auto;
    background-color: beige;
}

.Tut9 {
    border: 1px solid;
    width: 47px;
    height: 36px;
    position: absolute;
    top: 800;
    left: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}

