<link rel="stylesheet" href="app.component.scss">
<div class="main">
  <h1 class="heading">{{title}}</h1>
  <p class="para">{{city}}</p>
  <p>{{num1 + num2}}</p>
  <p>{{40 + 10 + 'ASHU' + 30}}</p>
  <p>{{InterpolationFunction()}}</p>
  <p>{{num1 == 20}}</p>
  <p>{{num1 == num2}}</p>
  <p>{{carnames}}</p>      <!--we can interpolate array  -->
  <p>{{student}}</p>  
  
  <!-- we can't interpolate object -->
  <!-- <p>{{}}</p> -->
  <Label>Name</Label><input type="text" [value]="data"
  
  placeholder="Enter name here">      
  <!-- Placeholder disable format mai hota hai for user hint only we cant edit it/ Value enable format mai hoti hai we can edit it -->
<label for="cars"></label> <input type="text" [value]="car">
<label for="student"></label> <input type="text" [value]="stud">
</div>